

body {
    overflow-x: hidden;
    min-width: 320px;
}
.nav-bar {
    position: fixed;
    top:0;
    left: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 2rem;
    padding: 1rem 0;
    border-bottom: 2px solid black;
    background-color: rgb(255, 255, 255);
}

.nav-bar a{
    text-align: center;
    text-decoration: none;
}
.dropdown{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-family: 'Cinzel';
    z-index: 999;
}
.dropdown .dropbtn {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.dropbtn{
    background-color: transparent;
    border: none;
}

#btn1{
    width: 30px;
    height: 3.5px;
    margin-bottom: .2rem;
    background-color: rgb(0, 0, 0);
}
#btn2{
    margin: 0 auto;
    width: 20px;
    height: 2px;
    background-color: rgb(0, 0, 0);

}
#btn3{
    width: 30px;
    height: 3.5px;
    margin-top: .25rem;
    background-color: rgb(0, 0, 0);
}

a:focus {
    outline: 1px solid rgb(0, 0, 0);
}

.dropdown-content {
    z-index: 999;
    font-size: clamp(1rem, 3vw, 2.5rem);
    height: fit-content;
    text-align: center;
}

.dropdown-content a{
    color: rgba(167, 44, 189, 0.979);
    padding-right: clamp(3px, 1vw, 1rem);
}

.dropdown-content a:hover {
    background-color: rgba(0, 0, 0, 0.408);
    color: white;
}

.dropdown .dropdown-content {
    display: none;
    visibility: visible; 
}

/* FrontEnd WebDev */

.webdev{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.secondary-title {
    text-align: center;
    font-size: clamp(2rem, 3vw, 4rem);
    line-height: 1.5rem;
    font-family: 'Cinzel';
    color: black;
}

.animate {
    animation: slide 4000ms 1;
}

.pulse {
    animation: pulse 1700ms infinite;
}
  
.header{
    width: 100%;
    height: 30vh;
    text-align: center;
    margin-top: 4rem;
}
.hero-title{
    width: 40%;
    height: 80%;    
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
}

/* MAIN */

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

/* ABOUT */

.about-container {
    margin: 3rem auto;
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.979);
}
.about-wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: rgba(23, 23, 23, 0.217);

}
.about {
    text-align: center;
    height: 100%;
    width: 90%;
    background-color: rgb(255, 255, 255);

}

.about h1, .about h2 {
    font-family: 'Cinzel', sans-serif;
    font-size: clamp(1.5rem, 30vw, 2.5rem);
    line-height: 2.5rem;
    color:rgb(253, 167, 6);
    margin: 1rem;
}

.about p {
    font-size: clamp(1.2rem, 2vw, 1.7rem);
    line-height: 1.2em;
    color:rgb(0, 0, 0);
    padding: 1rem;
    text-align: center;
}
.quote{
    text-align: center;
    
}

/* KNOWLEDGE */
.knowledge-container{
    margin: 5rem auto 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    background-color: black;
    font-family: 'Cinzel';
}

.knowledge {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.knowledge h3 {
    text-align: center;
    margin-bottom: 1em;
    line-height: 2.5rem;
    font-weight: 400;
    font-size: clamp(2rem, 3vw, 7rem);
    color: rgb(5, 5, 5);
}
.knowledge ul{
    width: 90%;
}
.knowledge ul li {
    display:flex;
    justify-content: center;
    padding: 1rem 0;
    line-height: clamp(2rem, 5vw, 3rem);
    font-size: clamp(1.5rem, 5vw, 3rem);
}

/* SKILLS */

.skill-container{
    width: 100%;
    margin: 2rem auto;
    background-color: rgb(148, 89, 57);
    box-shadow:0px 20px 30px rgb(61, 61, 61);
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(23, 23, 23, 0.217);
    box-shadow: 20px 50px 100rem rgb(31, 4, 78) inset;
}

.skills h3 {
    font-family: 'Monoton';
    text-align: center;
    font-size: clamp(1.5rem, 5vw, 3rem);
    line-height: 2rem;
    letter-spacing: .2rem;
    margin: 3rem 0;
    color: rgb(255, 132, 0);
    text-align: center;
}

.skills ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.skills li {
    font-family: 'Cinzel';
    font-size: clamp(1.5rem, 5vw, 2rem);
    font-weight: 700;
    color:rgb(255, 255, 255);
    padding: 1rem;
}

/* PROJECTS */

.projects-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    margin: 1rem;
}
.project{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 320px;
    min-height: 200px;
    padding: 2rem;
    color: rgb(255, 255, 255);
    font-size: clamp(2rem, 8vw, 3rem);
    border: .1rem solid rgba(0, 0, 0, 0.123);
    text-align: center;
    margin: 2rem;
    background-color:rgba(23, 23, 23, 0.217);
    box-shadow: 40px 50px 60px 15px black;
}
.project .react-projects{
    display: none;
    visibility: visible;
}
.react-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project .static-projects{
    display: none;
    visibility: visible;
}
.projects-btn{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: .8rem 3rem;
    font-size: 1.2rem;
    font-family: 'Cinzel';
    letter-spacing: .1rem;
    cursor: pointer;
}

.closebtn{
    display: none;
    position: relative;
    top: 0;
    left: 45%;
    background-color: transparent;
    border: none;
    font-size: 3rem;
    cursor: pointer;
}
.closebtn:hover {
    color: red;
    font-size: 5rem;
    transition: 300ms ease-out;
}

.project-a{
    width: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#projectH1, #statich1{
    color: white;
}

.project-a h1{
    font-size: clamp(2rem, 5vw, 3rem);
    line-height: 1.7rem;
    margin-top: 2rem;
    color:rgb(0, 0, 0);
    text-align: center;
}


.check-out h3 {
    font-family: 'Vollkorn';
    font-weight: 400;
    font-size: clamp(2.5rem, 5vw, 4rem);
    margin-bottom: 2rem;
    text-align: center;
}
.project-info{
    display: flex;
    margin: 0 auto;
}

.project-a h1:hover{
    font-family: 'Monoton';
    font-weight: 400;
    background-color: rgb(172, 62, 62);
    
    border-radius: 10%;
    animation: float 10ms ease-in-out 8;
    transition: 100ms ease-in;
    
}

span {
    color: rgb(253, 6, 6);
}

.image-a {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 2rem 0;
}

.project-img {
    box-shadow: 10px 10px 5px rgb(61, 61, 61);
    border-radius: 8%;
    background-color: transparent;
    width: 50%;
    margin-bottom: 2rem;
}
.project-img:hover{
    transform: scale(.9);
    transition: 800ms ease;
}

#projects{
    width: 10vmax;
    box-shadow: none;
}

.project-info{
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    max-width: 35rem;
    font-size: clamp(1.3rem, 5vw, 2rem);
    text-align: center;
    margin-bottom: 2rem;
    font-family: "Vollkorn";
    font-weight: 400;
    border-bottom: 3px solid black;
}

.project-info h4{
    color: rgb(253, 6, 6);
}

/* FOOTER */

.footer {
    text-align: center;
    height: fit-content;
    font-family: 'Cinzel';
    font-size: 1.5rem;
    padding: .3rem;
    color: white;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 .3rem 2px rgb(120, 120, 120);
}

@keyframes pulse {
	0% {
        
		transform: scale(0.8);
		opacity: 0.7;		
	}
	50% {
        
		transform: scale(1);
		opacity: 1;	
	}	
	100% {
        
		transform: scale(0.8);
		opacity: 0.7;	
	}			
}

@keyframes float {
	0% {
        
		transform: translateX(-30px);
		opacity: 0.7;		
	}
    50%{
        transform: translateX(60px);
    }
	100% {
        
		transform: translateX(-30px);
		opacity: 0.7;	
	}			
}

@media only screen and (min-width: 320px) and (max-width: 870px) {
    .hero-title{
        width: 80%;
        height: 80%;    
    }
    .about-wrapper{
        width: 100%;
    }
    
    .knowledge{
        width: 100%;
    }
    .image-a {
        width: 75%;
    }
    .projects-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .projects{
    
        
    }
}

