*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    font-weight: 400;
    line-height: 1.5rem;
}

#page-container {
    min-height: 100%;
  }

.nav-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 4rem;
    background-color: #ffffff;
    color: #b28e5c; 
    border-bottom: .1rem solid #b28e5c;
}

.list li {
    display: inline;
    padding-right: 1em;
    font-size: 1.5em;
    color: #b28e5c;
}

.list a {
    cursor:pointer;
}

.list a li:hover {
    color:white;
    font-size: 1.5rem;
    text-decoration: underline;
}

.banner_container {
    
    width: 100%;
    overflow: hidden ;
}

.banner-img { 
    background-image: url("/domenico-loia-EhTcC9sYXsw-unsplash.jpg");
    border: 1px black solid;    
}

.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 100%;
    background-color: #ffffff;
    color: #b28e5c;
}

.main {
    display: grid;
    grid-template-columns: 10rem 1fr;
}

.main-title {
    display: inline-block;
    font-size: 2.5rem;
    font-family: "Cinzel",sans-serif;
    line-height: 1.8rem;
    padding: 2rem;
}

.secondary-title {
    display: inline-block;
    font-size: 1.5rem;
    font-family: "Vollkorn",sans-serif;
    margin: auto;
    padding: 1rem;
    border-top: .1rem solid #b28e5c;
}


.skills {
    color:#b28e5c;
    background-color: #e2e2e0;
    text-align: center;
    display: block;
    max-width: 8rem;
    max-height: 31rem;
    padding: 1.2rem;
    margin: 1rem .2rem 1rem 1rem;
    border: solid .1px #b28e5c;
    border-radius: 1rem;
}
.history {
    font-family: "Vollkorn", sans-serif;
    color: #b28e5c;
    padding-right: .7rem;
    height: auto;
}
.moto-website {
    box-shadow: 10px 10px 5px darkgray;
    padding: .2rem;
    border: .2px #dfdede solid;
    border-radius: 10%;
    height: 9rem;
}

.about h2 {
    font-size: 2rem;
    line-height: 1em;
    font-family: "montserrat", sans-serif;
    text-decoration: underline;
}



.about {
    text-align:center;
    width: 100%;
    margin-top: 1rem;
}

.about h3 {
font-size: 1rem;
font-weight: 500;
line-height: 1em;
padding-bottom: .5rem;
text-align: center;
text-decoration: underline;
}

.about :nth-child(3) {
    padding-bottom: 1em;
} 

.about :nth-child(6){
    padding-top: 1em;
}

.footer-nav {
    text-align: center;
    height: 3rem;
    border-top: 2px solid #b28e5c;
    margin-top: 3rem;
}

.nav-list li {
    display: inline;
    height: 4rem;
    padding-right: 1em;
    font-size: 1.5em;
    color: #b28e5c;
}

